@use "../../../app/globalStyles/var";
@use "../../../app/globalStyles/mixins";

.line {
  width: 100%;
  height: 6px;
  background: linear-gradient(
    to right,
    rgba(var.$greenBright, 1),
    rgba(var.$greenBright, 0)
  );
}

.main {
  @include mixins.flex(center, space-between, 5px);

  &__content {
    @include mixins.flex(center, flex-start, 20px);

    &__logo {
      padding: 12px 0;
    }

    &__list {
      @include mixins.flex(center, flex-start, 0px);

      &__item__link {
        position: relative;
        padding: 100% 20px 23px 20px;
        width: 100%;
        font-size: 14px;
        @include mixins.transition(
          background-color text-shadow,
          0.2s,
          ease-in-out
        );

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: var.$greenBright;
          opacity: 0;
          @include mixins.transition(opacity, 0.2s, ease-in-out);
        }

        &__active {
          background-color: rgba($color: var.$greenBright, $alpha: 0.3);
          text-shadow: 0 0 0.25px var.$darkGrey, 0 0 0.25px var.$darkGrey;

          &::before {
            opacity: 100;
          }
        }

        @media (max-width: var.$lg) {
          padding: 100% 15px 23px 15px;
        }
      }
    }
  }

  &__actions {
    @include mixins.flex(center, flex-start, 30px);

    &__auth__btn {
      @include mixins.flex(center, flex-start, 10px);
      font-size: 14px;
      line-height: 120%;

      @media (max-width: var.$lg) {
        border: 1px solid var.$greenBright;
        padding: 7px;
        border-radius: 50%;
      }
    }

    &__burger {
      position: relative;
      cursor: pointer;
      width: 18px;
      height: 16px;

      & span {
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        border-radius: 10px;
        background-color: var.$greenBright;
        @include mixins.transition(opacity transform, 0.2s, ease-in-out);

        &:first-child {
          top: 0;
        }

        &:nth-child(2) {
          top: calc(50% - 1px);
        }

        &:last-child {
          bottom: 0;
        }
      }

      &__active span {
        &:first-child {
          @include mixins.transform(rotate(45deg) translateY(5) translateX(5));
        }

        &:nth-child(2) {
          @include mixins.transform(rotate(-45deg));
        }

        &:last-child {
          opacity: 0;
        }
      }
    }
  }
}

.nav {
  background-color: var.$lightGrey;
}
