@use '../../../app/globalStyles/var';

.header {
  &__line {
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, rgba(var.$greenBright, 1), rgba(var.$greenBright, 0));
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      padding: 12px 0;
    }

    &__left,
    &__right {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    &__right {
      gap: 30px;
    }

    &__auth__btn {
      font-size: 14px;
      line-height: 120%;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__bottom {
    &__wrapper {
      background-color: var.$lightGrey;
    }
  }
}

.menu {
  &__list {
    display: flex;
    &__item {
      &__link {
        position: relative;
        padding: 23px 20px;
        width: 100%;
        padding-top: 100%;
        font-size: 14px;
        transition: background-color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: var.$greenBright;
          opacity: 0;
          transition: opacity 0.2s ease-in-out;
        }
        &__active {
          background-color: rgba($color: var.$greenBright, $alpha: 0.3);
          text-shadow: 0 0 0.25px var.$darkGrey, 0 0 0.25px var.$darkGrey;

          &::before {
            opacity: 100;
          }
        }
      }
    }
  }
}

// bulletin nav
.bulletin {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  &__right,
  &__left {
    display: flex;
    align-items: center;
    gap: 70px;
  }

  &__left {
    gap: 40px;
  }

  &__nav {
    &__list {
      display: flex;
      gap: 40px;
      align-items: center;

      &__item {
        font-size: 14px;
        line-height: 120%;

        &:hover {
          color: var.$greenBright;
        }

        &__active {
          color: var.$greenBright;
        }

        &__link {
          display: flex;
          align-items: center;
          gap: 10px;
          transition: color 0.2s ease-in-out;
        }
      }
    }
  }
}

// svgs
.bulletin__nav__list__item {
  & svg rect,
  & svg path {
    transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
  }

  &:hover,
  &__active {
    &:nth-child(1) {
      & svg rect:first-child {
        stroke: var.$greenBright;
      }
      & svg rect ~ rect {
        fill: var.$greenBright;
      }
    }

    &:nth-child(2) {
      & svg rect:nth-child(3),
      & svg path:nth-child(1),
      & svg rect:not(:first-child):not(:last-of-type),
      & svg path:nth-last-child(4) {
        stroke: var.$greenBright;
      }

      & svg path:nth-last-child(3),
      & svg path:nth-last-child(2),
      & svg rect:last-of-type {
        fill: var.$greenBright;
      }
    }

    &:nth-child(3) {
      & svg path:not(:last-child) {
        stroke: var.$greenBright;
      }
    }
  }
}

// service nav
.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  gap: 10px;

  &__nav {
    &__list {
      display: flex;
      gap: 40px;
      align-items: center;

      &__item {
        font-size: 14px;
        line-height: 120%;
        transition: color 0.2s ease-in-out;

        & button,
        & a {
          display: flex;
          align-items: center;
          gap: 10px;

          & svg path {
            transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
          }
        }

        & button {
          & svg:last-child {
            transform: rotate(-90deg);
            transition: transform 0.2s ease-in-out;
          }
        }

        &__active,
        &:hover {
          color: var.$greenBright;

          & button svg:first-child path:nth-child(1),
          & button svg:first-child path:nth-child(2) {
            stroke: var.$greenBright;
          }

          & button svg:last-child path {
            fill: var.$greenBright;
          }

          & a svg path:first-child {
            stroke: var.$greenBright;
          }
        }

        &__open {
          & button svg:last-child {
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    gap: 120px;
    align-items: center;
  }
}

.store {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 0;

  &__list {
    display: flex;
    align-items: center;
    gap: 40px;

    &__item {
      font-size: 14px;
      line-height: 120%;
      transition: color 0.2s ease-in-out;

      & a,
      & button {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      & a svg path {
        transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
      }

      &__active,
      &:hover {
        color: var.$greenBright;

        & a svg path {
          &:nth-child(1) {
            fill: var.$greenBright;
          }
          &:nth-child(3),
          &:nth-child(5) {
            stroke: var.$greenBright;
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 30px;

    & a {
      font-size: 14px;
      line-height: 120%;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var.$greenBright;
      }
    }

    &__list {
      display: flex;
      align-items: center;
      gap: 20px;
      height: fit-content;

      &__item {
        &:hover {
          &:last-child {
            & button svg path:nth-child(2) {
              stroke: var.$greenBright;
            }
            & button svg path:last-child {
              fill: var.$greenBright;
            }
          }

          & button svg path:first-child {
            stroke: var.$greenBright;
          }
        }
        & button {
          display: flex;
          align-items: center;

          & svg path {
            transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
          }
        }
      }
    }
  }
}
