@use '../../../app/globalStyles/var';
@use '../../../app/globalStyles/mixins';

.btn {
  position: relative;
  background-color: #fff;
  color: var.$greenBright;
  @include mixins.flex(center, flex-start, 16px);
  @include mixins.transition(transform, 0.2s, ease-in-out);

  &:hover {
    @include mixins.transform(scale(1.05));
  }

  &:active {
    @include mixins.transform(scale(0.95));
  }

  &:disabled {
    background-color: var.$mediumGrey;
  }

  &__green {
    background-color: var.$greenBright;
    color: #fff;
  }

  &__white {
    background-color: #fff;
    color: var.$greenBright;
  }

  &__shadow {
    @include mixins.box-shadow(1px 2px 16px 3px rgba($color: #363a45, $alpha: 0.08));
  }

  & a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
  }
}
