// gilroy
@font-face {
  font-family: Gilroy;
  src: url(../../public/fonts/gilroy/Gilroy-Semibold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url(../../public/fonts/gilroy/Gilroy-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// noto-sans
@font-face {
  font-family: NotoSans;
  src: url(../../public/fonts/noto-sans/NotoSans-SemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// open-sans
@font-face {
  font-family: OpenSans;
  src: url(../../public/fonts/open-sans/OpenSans-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OpenSans;
  src: url(../../public/fonts/open-sans/OpenSans-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OpenSans;
  src: url(../../public/fonts/open-sans/OpenSans-SemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OpenSans;
  src: url(../../public/fonts/open-sans/OpenSans-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// tt-norms
@font-face {
  font-family: TTNorms;
  src: url(../../public/fonts/tt-norms/TTNorms-Thin.woff) format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: TTNorms;
  src: url(../../public/fonts/tt-norms/TTNorms-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: TTNorms;
  src: url(../../public/fonts/tt-norms/TTNorms-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: TTNorms;
  src: url(../../public/fonts/tt-norms/TTNorms-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: TTNorms;
  src: url(../../public/fonts/tt-norms/TTNorms-ExtraBold.woff) format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: TTNorms;
  src: url(../../public/fonts/tt-norms/TTNorms-Black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
