// colors
$lightGrey: #f7f7f7;
$mediumGrey2: #efefef;
$mediumGrey: #dadcdc;
$darkGrey: #363a45;
$darkGrey80Opacity: rgba(#363a45, 0.8);
$greenBright: #00c65e;
$greenLight: #ccefdb;
$orangeBright: #f89358;
$orangeLight: #ffb762;
