@forward "reset";
@forward "fonts";
@use "var";
@use "mixins";

body {
  font-family: TTNorms;
  font-weight: 500;
  line-height: 150%;
  font-size: 16px;
  color: var.$darkGrey;
}

.overflow-hidden {
  overflow: hidden;
}

.popup-wrapper {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color: var.$darkGrey, $alpha: 0.5);
  height: 100vh;
  width: 100vw;
  @include mixins.flex(center, center, 0px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
