@forward "reset";
@forward "fonts";
@use "var";
@use "mixins";

* {
  box-sizing: border-box;
}

body {
  font-family: TTNorms;
  font-weight: 500;
  line-height: 150%;
  font-size: 16px;
  color: var.$darkGrey;
}

.overflow-hidden {
  overflow: hidden;
}

.popup-wrapper {
  overflow: auto;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: rgba($color: var.$darkGrey, $alpha: 0.5);
  @include mixins.flex(center, center, 0px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;

  @media (max-width: var.$sm) {
    font-size: 24px;
  }
}
