@forward 'reset.scss';
@forward 'fonts.scss';
@use 'var.scss';

body {
  font-family: TTNorms;
  font-weight: 500;
  line-height: 150%;
  font-size: 16px;
  color: var.$darkGrey;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


