@use '../../../app/globalStyles/var';

.btn {
  display: flex;
  gap: 9px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: rgba($color: var.$darkGrey, $alpha: 0.6);

  & svg path {
    transition: fill 0.2s ease-in-out;
  }

  &:hover {
    & svg path {
      fill: var.$greenBright;
    }
  }
}
