@use '../../../app/globalStyles/var';

.form {
  width: 300px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 18px;
  border: transparent 1px solid;
  transition: border 0.2s ease-in-out;

  &__active {
    & input {
      padding-left: 15px;
    }

    & svg {
      opacity: 0;
    }
  }

  &:hover {
    border: var.$darkGrey 1px solid;

    & .form__btn {
      background-color: var.$darkGrey;
      color: #fff;
    }
  }

  &__input {
    width: 100%;
    font-size: 10px;
    font-weight: 400;
    line-height: 120%;
    background-color: #fff;
    border-radius: 18px 0 0 18px;
    outline: none;
    border: none;
    padding: 9px;
    padding-left: 40px;
    transition: padding-left 0.2s ease-in-out;
  }

  &__btn {
    background-color: var.$mediumGrey;
    padding: 7px 24px;
    font-size: 14px;
    line-height: 120%;
    border-radius: 0 18px 18px 0;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  & svg {
    position: absolute;
    top: 10px;
    left: 15px;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }

  &:focus-within {
    border: var.$darkGrey 1px solid;

    & button {
      background-color: var.$darkGrey;
      color: #fff;
    }
  }
}
