@use '../../../app/globalStyles/var';
@use '../../../app/globalStyles/mixins';

.burger {
  position: relative;
  width: 14px;
  height: 16px;
  cursor: pointer;

  & span {
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: var.$darkGrey;
    border-radius: 18px;
    @include mixins.transition(background-color transform opacity, 0.2s, ease-in-out);

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: calc(50% - 1.5px);
    }

    &:nth-child(3) {
      width: 8px;
      bottom: 0;
      opacity: 100;
    }
  }

  &__open span {
    background-color: var.$greenBright;

    &:nth-child(1) {
      @include mixins.transform(translateY(6px) rotate(45deg));
    }

    &:nth-child(2) {
      @include mixins.transform(rotate(-45deg));
    }

    &:nth-child(3) {
      opacity: 0;
    }
  }
}
