@use "../../../../../app/globalStyles/mixins";

.modal {
  position: absolute;
  z-index: 100;
  top: 66px;
  width: 270px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 13px;
  @include mixins.box-shadow(0px 4px 4px 0 rgba(#000, 0.25));

  &__empty {
    text-align: center;
    width: 190px;
    margin: 0 auto;
    font-size: 14px;
  }

  &__btn {
    padding-top: 20px;

    & a button {
      width: 100%;
      @include mixins.flex(flex-start, center, 0px);
    }
  }

  &__triangle {
    position: absolute;
    z-index: 100;
    right: 30px;
    top: -17px;

    & svg path {
      @include mixins.filter(drop-shadow(0px 4px 2px rgba(#000, 0.25)));
    }
  }

  &__compare {
    right: 55px;
  }

  &__liked {
    right: 10px;
  }

  &__cart {
    right: -30px;
  }
}
