@use '../../../../app/globalStyles/var';
@use '../../../../app/globalStyles/mixins';

.store {
  @include mixins.flex(center, space-between, 10px);
  padding: 10px 0;

  &__list {
    @include mixins.flex(center, flex-start, 40px);

    &__item {
      font-size: 14px;
      line-height: 120%;
      @include mixins.transition(color, 0.2s, ease-in-out);

      &__link,
      &__btn {
        @include mixins.flex(center, flex-start, 10px);
      }

      &__link svg path {
        @include mixins.transition(fill stroke, 0.2s, ease-in-out);
      }

      &:hover,
      &__active {
        color: var.$greenBright;

        & a svg path {
          &:nth-child(1) {
            fill: var.$greenBright;
          }
          &:nth-child(3),
          &:nth-child(5) {
            stroke: var.$greenBright;
          }
        }
      }
    }
  }

  &__actions {
    @include mixins.flex(center, flex-start, 80px);

    &__btns {
      @include mixins.flex(center, flex-start, 30px);

      &__support {
        font-size: 14px;
        line-height: 120%;
        @include mixins.transition(color, 0.2s, ease-in-out);

        &:hover {
          color: var.$greenBright;
        }
      }

      &__list {
        @include mixins.flex(center, flex-start, 20px);

        &__item {
          &__btn {
            @include mixins.flex(center, flex-start, 0px);

            & svg path {
              @include mixins.transition(fill stroke, 0.2s, ease-in-out);
            }
          }

          &:hover {
            & button svg path:first-child {
              stroke: var.$greenBright;
            }

            &:last-child button svg path {
              &:nth-child(2) {
                stroke: var.$greenBright;
              }
              &:last-child {
                fill: var.$greenBright;
              }
            }
          }
        }
      }
    }
  }
}
