@use "../../../../app/globalStyles/var";
@use "../../../../app/globalStyles/mixins";

.container {
  padding-top: 80px;
  @include mixins.flex(stretch, space-between, 10px);

  @media (max-width: var.$md) {
    padding-top: 60px;
  }
}

.best {
  position: relative;
  width: 850px;
  padding: 45px 40px 55px;
  border-radius: 10px;
  @include mixins.flex(flex-start, space-evenly, 25px);
  @include mixins.flex-direction-column();
  @include mixins.box-shadow(
    1px 2px 16px 3px rgba($color: #363a45, $alpha: 0.08)
  );

  &__title {
    position: relative;
    z-index: 3;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    @media (max-width: var.$sm) {
      font-size: 22px;
    }
  }

  &__text {
    position: relative;
    z-index: 3;
    max-width: 370px;
    line-height: 150%;
    font-size: 24px;
    letter-spacing: 0.5px;
    padding-bottom: 15px;

    @media (max-width: var.$sm) {
      font-size: 18px;
    }
  }

  & a {
    position: relative;
    z-index: 3;
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    border-radius: 0 10px 0 0;
    // media: 992 - 320 / width: 480 - 250
    width: clamp(15.625rem, 8.78rem + 34.23vw, 30rem);
    height: auto;

    & ~ & {
      top: 0;
      z-index: 1;
    }
  }

  @media (max-width: var.$lg) {
    padding: 25px 20px 35px;
    width: 100%;
  }
}

.discount {
  position: relative;
  padding: 20px;
  width: 270px;
  border-radius: 10px;
  background-color: var.$greenBright;
  @include mixins.box-shadow(
    1px 2px 16px 3px rgba($color: #363a45, $alpha: 0.08)
  );

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 2;
  }

  &__card {
    @include mixins.flex(center, center, 0px);
    padding-bottom: 20px;
    position: relative;
    z-index: 2;

    &__procent {
      position: absolute;
      z-index: 3;
      top: -7px;
      left: 0;
      width: 60px;
      height: 60px;
      background-color: #fff;
      border-radius: 50%;
      color: var.$orangeLight;
      font-size: 24px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0.5px;
      @include mixins.flex(center, center, 0px);
      @include mixins.box-shadow(
        1px 2px 16px 3px rgba($color: #363a45, $alpha: 0.08)
      );

      & p span {
        font-size: 16px;
      }
    }

    & li {
      width: 165px;
      background-color: #fff;

      & a {
        & div {
          @include mixins.flex(flex-start, space-evenly, 2px);
          @include mixins.flex-direction-column();

          & h6,
          & p {
            font-size: 12px;
            line-height: 120%;
          }

          & p {
            & span {
              font-size: 9px;

              & ~ span {
                font-size: 10px;
              }
            }
          }

          & p ~ p {
            font-size: 9px;
          }
        }

        & img ~ img {
          bottom: 7px;
          right: 7px;
        }
      }

      & span svg {
        top: 7px;
        right: 7px;
      }
    }
  }

  & a {
    @include mixins.flex(center, center, 0px);
    position: relative;
    z-index: 2;
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0 0 10px 0;
    z-index: 1;
  }
}
