@use "../../../app/globalStyles/var";
@use "../../../app/globalStyles/mixins";

.popup {
  width: 500px;
  height: 270px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  position: relative;

  &__btn {
    position: absolute;
    top: -30px;
    right: -30px;

    & svg circle {
      @include mixins.transition(opacity, 0.2s, ease-in-out);
    }

    &:hover svg circle {
      opacity: 1;
    }
  }

  &__title {
    padding: 55px 0 25px;
    font-size: 32px;
    line-height: 120%;
    font-weight: 700;
  }

  &__text {
    opacity: 0.8;
  }
}
